
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
    
  }

.modal-content {
    background-color: rgba(211, 211, 211, 0.808);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
   
}

.modal-content p{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: black;
}
.modal-content h1{
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: black;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover, .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
.modal-content .Recherche{
    margin: 0 auto;
    border-collapse: collapse;
    width: 90%;
    font-size: 1.2rem;
    margin-bottom: 20px;
    border-radius: 5px;

}
.modal-content .Recherche form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-error {
    color: red;
    font-size: 12px;
  }
  