
#contenu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    
}

.Recherche{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    
}


h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    margin: 10px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    color:#292119 ;
}
input:focus {
    outline: none;
    border: 1px solid #713232;
}
input[type="submit"] {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #292119;
    padding: 5px;
    background-color: #292119;
    cursor: pointer;
    color:#F6F3E5 ;
}
input[type="submit"]:hover {
    background-color: #14100c;
}


form p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin: 0;
}


.div1 {
    display: flex;
    flex-direction: column;
}
  
  
#formulaire form {
    flex-basis: 50%;
    box-sizing: border-box;
   
}
#form-findByTimer {
    width: 100%;
    margin-top: 10px;
}

.bouton {
    background-color: #292119; 
    border: none; 
    color: #F6F3E5;
    padding: 10px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    margin: 4px 2px; 
    border-radius: 5px; 
    margin-bottom: 40px;   
    cursor: pointer;
}
.bouton:hover{
    background-color: #14100c;
}

#formulaire ul{
    list-style-type : none;
    display: flex;
    flex-direction: row;
    text-align: center;
}

#formulaire ul p{
    font-size: 1.5rem;
    margin-top: 7px;
}

.bouton.active {
    background-color: #14100c;
}