
#contenu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    
}

.Recherche{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    
}

.Recherche{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
    margin-top: 50px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    margin: 10px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    color:#292119 ;
}
input:focus {
    outline: none;
    border: 1px solid #713232;
}
input[type="submit"] {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #292119;
    padding: 5px;
    background-color: #292119;
    cursor: pointer;
    color:#F6F3E5 ;
}
input[type="submit"]:hover {
    background-color: #14100c;
}
input[type="submit"]:focus {
    outline: none;
    border: 1px solid #14100c;
}
input[type="text"] {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #F6F3E5;
    padding: 5px;
}
form p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.div1 {
    display: flex;
    flex-direction: column;
  }
  
  #formulaire {
    display: flex;
    flex-wrap: wrap;
  }
  
  #formulaire form {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 10px;
  }
  #form-findByTimer {
    width: 100%;
    margin-top: 10px;
  }