#contenu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
}

h1{
    margin: 50px;
    font-size: 60px;
    letter-spacing: 2px;
}

.formulaire{
    display: flex;
    flex-direction:row;
    align-items: center;
    color:blue;
}