h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}
table{
    margin: 0 auto;
    border-collapse: collapse;
    width: 90%;
    font-size: 1.2rem;
    margin-bottom: 20px;
    border-radius: 5px;

}
#tmpData{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
p{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
th, td{
    text-align: center;
    padding: 20px;
    border: 1px none;
    font-style: bold;
    color :#F6F3E5;
    
}
tr:nth-child(odd){
    background-color: #3d3125;
}
tr:nth-child(even){
    background-color: #312a23;
}
tr:hover{
    cursor: pointer;
    font-size: 1.3rem;
    transform: scale(1.05);
    transition: all 0.4s ease;
    cursor : default;
}

th{
    background-color:#292119;
}
.contenu{

    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
}
#pp{
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 20px;
    

}