.cadre{
    text-align: center;
    padding: 20px;
    background-color:#3A3D52;
    color: #F6F3E5;
    font-size:3ch ;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px; 
    height: 100%;


}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .bouton {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  