.Logo{
    display: flex;
    width: 30%;
    justify-content: center;
}

.cadre{
    text-align: center;
    padding: 20px;
    background-color:#3A3D52;
    color: #F6F3E5;
    font-size:3ch ;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px; 
    height: 100%;


}

h1{
    color: #F6F3E5;
    font-size: x-large;
    text-align: center;
    margin: 20px;
}


*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: arial;

}

body header{
    color: #F6F3E5;
    width: 100%;
}

a{
    text-decoration: none;
    color: #F6F3E5;
}

.nav-links{
    position: absolute;
    left: 12%;
}

.navbar{
    display: flex;
    margin: 0 auto;
    width: 100%;
    background-color:#A0392C ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header{
    background-color: rgb(220, 220, 220);
    margin-bottom: 50px;
    display: flex;
    color: #F6F3E5
}

header li{
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-color:#292119;
    color: #F6F3E5;
    margin: 10px;
    border-radius: 100px;
}


header li a{
    display: block;
    padding: 10px;
}

header li:hover{
    background-color:#A0392C ;
    color: #F6F3E5;
}

header ul li a{
    display: flex;
    align-items: center;
}

header li img{
    width: 25px;
    height: 25px;
}

.logo{
    margin: 10px;
    width: 170px;
    height: 50px;
}

footer{
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 0;
    display: flex;
    background-color:#A0392C ;
    position: fixed;
    position:absolute ;
    bottom: 0;
    left: 0;
}

.lien{
    display: flex;
    flex-direction: column;
}

.lien a {
    color:black;
    text-align: left;
}

.lien a:hover{
    color: black;
}


footer .linkedin{
    display: flex;
    flex-direction: row;
}

footer .linkedin a{
    display: flex;
    align-items: center;
    padding-left: 100px;
}

footer img{
    width: 50px;
    height: 50px;
}

body{
    background-color:#3A3D52;
}

.lk{
    margin-right: 1rem;
}