.Logo{
    display: flex;
    width: 30%;
    justify-content: center;
}

.cadre{
    text-align: center;
    padding: 20px;
    background-color:#3A3D52;
    color: #F6F3E5;
    font-size:3ch ;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px; 
    height: 100%;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bouton {
    margin: 5ch;
    width: 50%;
    padding: 25px;
    font-size: 25px;
    background-color: #292119;
    color: #F6F3E5;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

